@media (max-width: 750px) {
    .product-block-buyBlock-ctaBox {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}
/*
     FILE ARCHIVED ON 00:25:31 May 04, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:12:28 Jan 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 101.38
  exclusion.robots: 0.133
  exclusion.robots.policy: 0.12
  cdx.remote: 0.099
  esindex: 0.013
  LoadShardBlock: 54.516 (3)
  PetaboxLoader3.datanode: 72.605 (5)
  CDXLines.iter: 27.165 (3)
  load_resource: 75.399
  PetaboxLoader3.resolve: 29.251
  loaddict: 24.044
*/